.movieGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.movieCard {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.movieCard img {
  width: 100%;
  height: 375px;
  object-fit: cover;
}

.movieCard h2 {
  padding: 1rem;
  margin: 0;
  font-size: 1.25rem;
  color: #333;
}

.movieCard p {
  padding: 0 1rem 1rem;
  margin: 0;
  color: #666;
  font-size: 0.9rem;
}

.movieCard p:last-child {
  color: #888;
  font-style: italic;
}

h1 {
  padding: 0.5rem 2rem;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
}

.addButton {
  background-color: #6200ea; 
  color: white; 
  border: none; 
  border-radius: 25px; 
  padding: 12px 24px; 
  font-size: 16px; 
  font-weight: bold; 
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.2s ease; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.addButton:hover {
  background-color: #3700b3; 
}

.addButton:active {
  transform: translateY(0); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.movieTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deleteButton {
  background-color: transparent; 
  color: #ff0000; 
  border: none; 
  border-radius: 10px; 
  width: 40px; 
  height: 40px; 
  font-size: 15px; 
  margin-right: 10px;
  font-weight: bold; 
  cursor: pointer; 
  transition: background-color 0.3s ease, color 0.3s ease; 
  box-shadow: none; 
  display: flex;
  align-items: center; 
  justify-content: center; 
  padding: 0; 
  box-sizing: border-box; 
}

.deleteButton:hover {
  background-color: #e6e6e6; 
}

.deleteButton:active {
  background-color: #d4d4d4; 
}

.showtimeButton {
  background-color: transparent; 
  border: 1px solid rgba(128, 128, 128, 0.5);
  cursor: pointer;
  border-radius: 5px; 
  padding: 8px 8px;
  height: 40px;
}

.showtimeButton:hover {
  background-color: #e6e6e6; 
}

.showtimes {
  color: #333;
  padding: 1rem;
}

.showtimes h4, h5 {
  margin: 0;
  margin-bottom: 8px;
}